body {
    width: 99vw;
}

.flagimg {
    width: 11vw;
    height: 8vw;
    border: 1vw solid #b02015;
    border-radius: 50%;
    
}

.flagimg#germanimg {
    margin-left: 31.5vw;
}

.flagimg#englishimg {
    margin-left: 10vw;
}

div.top-bar {
    background-color: #323232;
    width: 100%;
    height: 120px;
    position: fixed;
}

#home {
    width: 6vw;
    height: 5vw;
    border: 5% solid black;
    position: absolute;
    display: inline-block;
    right: 1%;
    bottom: 2%;
}

img.top-bar {
    width: 175px;
    height: 115px;
}

#backgroundparent {

    width: auto;
    height: auto;
    z-index: 12;
}

#black {
    width: 100%;
    height: 200%;
    background-color: black;
    position: static;
    border-top: 100px solid black;
}

div#red {
    width: 100%;
    height: 20%;
    background-color: red;
    position: static;
    display: inline-block;

}


#yellow {
    width: 100%;
    height: 40%;
    background-color: #FFD200;
    display: inline-block;
    position: static;
}

.monotext {
    padding-left: 1.5%;
    font-family: 'Ubuntu Mono', monospace;
    color: #d9d9d9;
    font-size: 250%;
}

#title {
    font-size: 75px;
} 

.anton {
    font-family: 'Anton', sans-serif;
    color: #d9d9d9;
    text-align: center;
}

.anton#diary {
    font-size: 8vw;
}

.anton#content {
    font-size: 4vw;
}

.anton#survivalguide {
    padding-top: 5%;
    font-size: 6vw;
}

.anton#guide {
    font-size: 3vw;
}

#spielText {
    font-size: 6vw;
}

h2.header {
    font-family: 'Anton', sans-serif;
    color: #d9d9d9;
    font-size: 230%;
    display: inline-block;
    position: relative;
    bottom: 22%;
}

@media (min-width: 280px) and (max-width: 636px) {
    h2.header {
        font-size: 5vw;
    }

    img.top-bar {
        width: 95px;
        height: 55px;
        margin-top: 30px;
    }
}